#titulo{
    background: linear-gradient(to bottom right, #FFA500, #FF0000);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Ninja Naruto V1;
    border-style: inset;
    border: none;
}
a {
    text-decoration: none;
    color: white;
}

.menu{
    border-style: inset;
    border-radius: 10px;
    background: #12db196b;
    border: none;
    width: 400px;
}

body {
    background-image: url(../img/Vila\ oculta\ da\ folha.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#resultado{
    background-color:rgb(4, 49, 199) ; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    font-size: 20px;
    display: none;
    width: 200px;
    font-family: Ninja Naruto V1;
    margin-left: 350px;
    margin-top: 40px;
}

#texto{
    background: linear-gradient(to bottom right, #FFA500, #FF0000);
    color: white;
    width: 600px;
    padding: 10px 10px;
    margin-left: 640px;
    margin-top: 170px;
    font-family: Ninja Naruto V1;
    text-align: center;
    border-radius: 3px;
    display: none;
}

#pergunta{
    font-family: Ninja Naruto V1;
    color: white;
    border-style: inset;
    padding: 10px;
    border: none;
    background: linear-gradient(to bottom right, #FFA500, #FF0000);
    width: 600px;
    text-align: center;
    font-size: 26px;
}

#mensagem {
    background:linear-gradient(to bottom right, #FFA500, #FF0000);
    color: white; 
    font-size: 20px;
    padding: 10px 10px;
    display: none;
    font-family: Ninja Naruto V1;
    margin-left: 730px;
    width: 400px;
    text-align: center;
}

#pontuacao{
    background:linear-gradient(to bottom right, #FFA500, #FF0000);
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 20px;
    display: none;
    width: 200px;
    font-family: Ninja Naruto V1;
    margin-top: 60px;
    margin-left: 820px;
    text-align: center;
}

.alternativas{
    margin-right: 700px;
}

.alternativa:hover{
    background-color: #3aa0be;
}

.alternativa{
    background-color:orange ; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    font-size: 16px;
    display: none;
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    width: 200px;
    font-family: Ninja Naruto V1; 
}

.opcoes{
    column-count: 2;
    margin-left: 70px;
    margin-top: 70px;
}

.opcao{
    background-color:orange ; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    width: 200px;
    font-family: Ninja Naruto V1;
    transition: all 0.3s ease;
}

.opcao:hover{
    border-style: inset;
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 25px;
}

.quiz{
    border-style: inset;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    width: 620px;
    padding-bottom: 10px;
    margin-top: 140px;
}

#voltar{
    background-color:rgb(4, 49, 199) ; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 10px;
    border: none; /* Sem borda */; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    font-size: 16px;
    display: block;
    font-family: Ninja Naruto V1;
    transition: all 0.3s ease;
    margin-left: 20px;
    margin-bottom: 20px;
}

.container {
    background-image: url('../img/NaruSasu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex; /* Define o container como um flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%; /* Define a largura do container */
    height: 100vh; /* Define a altura do container como 100% da altura da viewport */
    border: 1px; 
}

.flex-container{
    background-image: url(../img/sala_ninja.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; 
    border: 1px;
    width: 100%;
    height: 70vh;
    margin-top: 130px;
}

#imagem{
    float: left;
    margin-top: 60px;
    margin-left: 90px;
}

.botoes{
    padding-top: 50px;
    width: 90px;
    margin-left: 100px;
}

.botao{
    background-color:orange ; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    font-size: 16px;
    display: block;
    margin-bottom: 30px;
    width: 200px;
    font-family: Ninja Naruto V1;
    transition: all 0.3s ease;
}

.botao:hover{
    background-color:  #3aa0be;
    padding: 15px 15px;
}

#voltar:hover{
    background-color: #3aa0be;
}